[2014-10-07 16:01] jakschu opened #3 "Add Sodiumoxide"
Please add https://github.com/dnaq/sodiumoxide to the Cryptography section.

[2014-10-07 18:50] #3 closed, assigned to nobody

[2014-12-21 16:18] mfirry opened #8 "Add redis-rs"
https://github.com/mitsuhiko/redis-rs

[2014-12-21 18:36] #8 closed, assigned to nobody

[2015-01-24 04:05] mattnenterprise opened #12 "Add FTP client"
https://github.com/mattnenterprise/rust-ftp

[2015-01-24 04:06] mattnenterprise opened #13 "Add POP3 client"
https://github.com/mattnenterprise/rust-pop3

[2015-01-24 04:06] mattnenterprise opened #14 "Add NNTP client"
https://github.com/mattnenterprise/rust-nntp

[2015-01-24 11:25] kud1ing commented on #14
Added in https://github.com/kud1ing/awesome-rust/commit/92ebb7cc1dbde055a7396eb56be8830c49a85137
Thanks.

[2015-01-24 11:25] #14 closed

[2015-01-24 11:25] kud1ing commented on #13
Added in https://github.com/kud1ing/awesome-rust/commit/92ebb7cc1dbde055a7396eb56be8830c49a85137
Thanks.

[2015-01-24 11:25] #13 closed

[2015-01-24 11:25] kud1ing commented on #12
Added in https://github.com/kud1ing/awesome-rust/commit/92ebb7cc1dbde055a7396eb56be8830c49a85137
Thanks.

[2015-01-24 11:25] #12 closed

[2015-03-23 16:08] GuillaumeGomez opened #18 "GSL"
Hi,

I'm currenly writing (for a few months now) a binding for the [GSL library](http://www.gnu.org/software/gsl/) [here](https://github.com/GuillaumeGomez/rust-GSL). Would it be possible to add it please ?

[2015-03-23 19:34] kud1ing commented on #18
Sure, can you send a pull request?

[2015-03-23 20:08] GuillaumeGomez commented on #18
Here it is #20. Thanks !

[2015-03-24 05:23] kud1ing commented on #18
Thanks, merged.

[2015-03-24 05:23] #18 closed

[2015-04-07 15:29] jeffreyjackson opened #21 "AwesomeOpenSource"
We are creating a github org for all awesome open source repos. I am working with a few individuals who are also managing their own awesome repos, and I think to gain more traction we need to work together. What are your thoughts about collectively moving your awesome repos to https://github.com/AwesomeOpenSource

The idea is that visibility for these repos would be increased due to more traffic t

[2015-04-08 05:58] kud1ing commented on #21
That's an interesting idea.

I think this is not a good fit for "awesome-rust" at this time, because Rust is a very young language. Quite some projects are started, but not always finished. This project started as a spin-off from a similar page in the Rust wiki. The main goal here is to have less entries and more quality of entries. I am not convinced that more contributors will support this goal.

[2015-04-08 05:58] #21 closed

[2015-05-08 03:07] sanxiyn opened #28 "Add Racer"
https://github.com/phildawes/racer

[2015-05-08 06:09] kud1ing commented on #28
Added, thanks.

[2015-05-08 06:09] #28 closed

[2015-05-08 10:16] ctjhoa opened #32 "rust-learning"
Hi,
I have a project [rust-learning](https://github.com/ctjhoa/rust-learning) which tend to aggregate all the useful resources to learn rust. I'll add a link to awesome-rust in my README.

IMO learning resources and tools/libraries should have a separate repos because of maintenance issues and too much content to manage.
I would like to know your point of view about that, I saw that you have a "re

[2015-05-08 10:32] kud1ing commented on #32
I agree, no need to duplciate that.

[2015-05-21 07:29] ctjhoa commented on #32
See #42

[2015-05-21 07:29] #32 closed

[2015-06-26 21:58] arthurvr opened #51 "broken link"
The link on "a conventional changelog port" seems broken.

[2015-06-27 12:57] arthurvr opened #52 "Add a license"
This repo misses a license. You could use https://github.com/sindresorhus/awesome#license as inspiration.

[2015-06-29 07:57] kud1ing commented on #51
Thanks, i've linked this blog post instead: http://blog.thoughtram.io/announcements/tools/2014/09/18/announcing-clog-a-conventional-changelog-generator-for-the-rest-of-us.html
Could not find a stable, official link. Feel free to submit a PR with something more appropraite.

[2015-06-29 07:57] #51 closed

[2015-06-29 08:02] kud1ing commented on #52
Thank you. Applied it.
Legally it's probably more complicated than that, though.

[2015-06-29 08:02] #52 closed

[2015-07-22 19:50] arthurvr opened #60 "Add contribution guidelines"
With clear guidelines on when and how to contribute.

See https://github.com/sindresorhus/awesome/blob/master/awesome.md#include-contribution-guidelines

[2015-10-09 10:49] hyunsik opened #81 "Add hdfs-rs (HDFS Client)"
https://github.com/hyunsik/hdfs-rs
http://hyunsik.github.io/hdfs-rs/hdfs/index.html

It may be proper in distributed system.

[2015-10-09 12:53] kud1ing commented on #81
Done

[2015-10-09 12:53] #81 closed

[2015-10-11 09:13] hyunsik commented on #81
Thanks!

[2015-10-23 17:31] danielpclark opened #87 "Add array_tool to Data Structures"
Crate named [array_tool](https://github.com/danielpclark/array_tool).  Helper methods for Vector collections.

[2015-12-09 13:54] gbersac opened #101 "Adding collenchyma"
Why not adding [collenchyma](https://github.com/autumnai/collenchyma) ? GPU programming is important !

[2015-12-10 14:53] kud1ing commented on #101
Yes, why not create a pull request? :)

[2015-12-10 14:57] gbersac commented on #101
Because I am lazy :)

Envoyé de mon smartphone BlackBerry 10 sur le réseau Orange.
De: kud1ing
Envoyé: jeudi 10 décembre 2015 15:56
À: kud1ing/awesome-rust
Répondre à: kud1ing/awesome-rust
Cc: Guillaume Bersac
Objet: Re: [awesome-rust] Adding collenchyma (#101)

Yes, why not create a pull request? :)

---
Reply to this email directly or view it on GitHub:
https://github.com/kud1ing/awesome-rust/is

[2015-12-14 18:27] awesome-bot opened #103 "Validate pull requests with Travis"
Hello, I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request.

Examples
This tool is currently being used by https://github.com/dkhamsing/open-source-ios-apps and https://travis-ci.org/matteocrippa/awesome-swift
- https://travis-ci.org/matteocrippa/awesome-swift/builds/96526196 ok ✅
- https://travis-ci.org/matteocrippa/awesome-

[2016-01-05 07:10] kud1ing commented on #60
Added a stub: https://github.com/kud1ing/awesome-rust/blob/master/CONTRIBUTING.md

[2016-01-05 07:10] #60 closed

[2016-01-16 08:05] mitchmindtree opened #110 "conrod GUI category is a little misleading"
Hey there :)

I just notices that conrod is listed under an SDL2 subheading in the GUI section. Conrod actually supports multiple backends, including SDL2, GLFW and glutin, and also allows for implementing custom backends via backend traits.

I haven't yet submitted a PR as I'm unsure how you'd wish to handle this fix. Perhaps a new "Any Platform" or "Platform Agnostic" subheading could be made? L

[2016-01-16 13:38] kud1ing commented on #110
Hey, thank you. I agree. For the time being, i've moved Conrod one level up. Will think about and maybe do something else in the future.

[2016-01-16 13:38] #110 closed

[2016-01-23 23:15] JanLikar opened #117 "Remove Rust CI"
As far as I know, Rust CI is dead. Additionaly, rust-ci.org is now redirecting to crates.io.

[2016-01-24 08:58] kud1ing commented on #117
Done, thanks.

[2016-01-24 08:58] #117 closed

[2016-01-31 03:33] Woowoo678 opened #120 "Place more items in "Game development" category"
Currently, the "Game development" category does not include Rust's SDL or SFML bindings, which instead are found under the "GUI" category. Since SDL and SFML are very prominent libraries for game development (arguably moreso than they are for GUI development), it would make more sense to have them placed under that section, or at least duplicated to it.

[2016-01-31 08:31] kud1ing commented on #120
I agree, fixed. Thank you.

[2016-01-31 08:31] #120 closed

[2016-05-22 05:51] pravic opened #157 "Logging section?"
As section of libraries or subsection in development tools, or subsection in Testing (less appropriate).

[2016-05-22 13:28] kud1ing commented on #157
Hm, i'd say under "Libraries".

[2016-06-10 06:48] #101 closed

[2016-06-10 06:49] #157 closed

[2016-06-16 14:46] Stebalien opened #168 "Mark required rustc version"
Something like:
![rustc stable](https://img.shields.io/badge/rustc-stable-brightgreen.svg)
![rustc nightly](https://img.shields.io/badge/rustc-nightly-yellow.svg)

It would be nice to get crates.io support for this (rust-lang/crates.io#168) but that might take a while.

[2016-08-04 04:59] vitiral opened #183 "add rsk to "development tools""
Hello, love this list!

I have released the beta version, which is quite stable and snappy, of **rsk**: the requirements tracking tool made for developers. It is ultra simple to use, is text based so it can be tracked in your repository, and has a full featured interactive tutorial built into the tool. Check it out!

https://github.com/vitiral/rsk

It would be great if it could be added to your li

[2016-08-12 04:18] vitiral commented on #183
I'm going to open a PR instead

[2016-08-12 04:18] #183 closed

[2016-08-12 07:47] kud1ing opened #190 "Moving away from a single markdown file?"
Since the Markdown file has grown a bit, i am considering extracting the data to a file (maybe JSON) and generating HTML from it.

Disadvantages:
- there is an additonal generator step
- contributors might expect a Markdown file

Advantages:
- the data file could be reused easier by other projects
- entries can show up in multiple sections without duplicating data
- less boilerplate code for contr

[2016-08-12 07:56] suhr commented on #190
See https://rust.libhunt.com/

[2016-08-12 07:57] kud1ing commented on #190
@suhr Yes, but i don't know where the data is hosted so that is available to the community.

[2016-08-12 08:43] jeffparsons commented on #190
I heartily support this move. One application I'd be keen on would be tagging of projects paired with (client-side) search.

[2016-08-12 11:59] Anachron commented on #190
I hate JSON with a passion. Maybe it is because it cannot have comments?

I suggest using something like TOML instead.

[2016-08-12 12:34] cetra3 commented on #190
How about you use my tool to combine them:

https://github.com/cetra3/mdcollate

[2016-08-12 13:41] kud1ing commented on #190
@Anachron I am not a huge fan of JSON either, but my aversion for external code dependencies is greater. ;(

[2016-08-12 13:49] hauleth commented on #190
For human readable format I would prefer YAML over JSON as is more flexible and easier to parse by wetware.

[2016-08-12 18:28] Limeth commented on #190
There are human-readable derivates of JSON. One of them is called HOCON, IIRC.

[2016-08-12 18:30] hauleth commented on #190
But why not use human-readable JSON superset - YAML?
--

Łukasz Niemier
lukasz@niemier.pl

[2016-08-12 19:51] suhr commented on #190
@Anachron Do you hate [JSON5](http://json5.org/) too?

PS: still, better to use TOML since it's much more popular.

[2016-08-12 21:33] Qard commented on #190
I think this bikeshed should be painted blue. :trollface:

Seriously though, the storage format is irrelevant. The issue is not about which storage format is superior, it's about whether the content of this repo should be accessible as data and used to generate human-consumable pages.

Personally, I don't feel like there's a lot of value to content as data for this repo. Seems to me like the effor

[2016-08-13 08:39] pravic commented on #190
http://awesome-python.com for example. It is a single file too, but with TOC on left side.

[2016-08-15 15:21] nasa42 commented on #190
Would the format of http://libs.rs/ be an acceptable replacement? This is basically just bunch of TOML files - https://github.com/nasa42/libs.rs/tree/master/categories (and some scripts to generate HTML files periodically).

@kud1ing happy to give you access to the libs.rs repository.

[2016-09-08 15:26] ebkalderon opened #197 "Incorrect game engine entry"
As of early 2016, Amethyst is no longer a lone-developer project. :smile: As such, the new GitHub repository is located at http://github.com/amethyst/amethyst, the website is https://www.amethyst.rs/, and the correct Travis CI shield is at https://travis-ci.org/amethyst/amethyst.svg?branch=master.

Also, in regards to `rust.libhunt.com`, which I assume this repository is affiliated with, I don't t

[2016-09-09 06:22] kud1ing commented on #197
Thank you for the kind words and taking the time to improve this list. But first and foremost thanks for writing interesting Rust code. Without it this list would be empty. :)

[2016-09-09 06:22] #197 closed

[2016-09-09 06:25] kud1ing commented on #197
This list is not affiliated with rust.libhunt.com. They are importing the data from this list, but afaik keep the data that is submitted there for themselves.

[2016-09-27 18:42] deathtrip opened #201 "add ripgrep"
https://github.com/BurntSushi/ripgrep

[2016-11-03 11:29] N-006 commented on #201
Can be closed :)

[2016-11-03 11:44] kud1ing commented on #201
True, thanks.

[2016-11-03 11:44] #201 closed

[2016-12-10 01:20] 1player opened #230 "Add ArcadeRS tutorial"
http://jadpole.github.io/arcaders/arcaders-1-0

A tutorial on writing an old-school scrolling shooter in Rust. Not my article, but it's pretty in depth.

[2016-12-17 21:53] #190 closed

[2017-02-04 21:19] adals opened #251 "add new resource to learn rust"
http://cis198-2016s.github.io/schedule/

[2017-02-14 21:31] ShalokShalom opened #256 "Habitat"
https://www.habitat.sh/

(The template confuse me a lot - why an svg, and why such a complicated Template at all?)

Somebody might want to add Habitat, its worth a look - an alternative to AppImage and so on)

[2017-02-17 11:02] snuk182 opened #258 "Add bindings to Nuklear"
https://github.com/snuk182/nuklear-rust
Bindings to the Nuklear immediate GUI library.

[2017-02-20 12:36] #258 closed

[2017-03-02 05:57] amilajack opened #266 "Add Neon"
Would a pr for [Neon](https://github.com/neon-bindings/neon) be welcome?

[2017-03-02 07:32] kud1ing commented on #266
We have it under Development Tools -> FFI -> Node.js already.
A fix PR for the new GitHub URL would be welcome, though.

[2017-03-02 07:32] #266 closed

[2017-04-18 09:40] JermineHu opened #281 "About Rust bindings for OpenCV"
Recommend this [repo](https://github.com/kali/opencv-rust) that for OpenCV in rust

[2017-05-04 10:48] kud1ing opened #289 "Transfer"
I'd like to handover the repository to someone else.
@steveklabnik, @nasa42 maybe you have a suggestion.

I'd love it if it could stay:
* useful
* clutter-free
* sorted
* single page
* uncommercial

I'd love it if it gained (automatic) QA to ensure:
* working links
* consistent format
* removing stale projects

[2017-05-04 11:09] steveklabnik commented on #289
Hmmmmmmmmmmmmm

[2017-05-04 12:50] Freyskeyd commented on #289
Why not let `rustlang` organisation handle it?

[2017-05-04 13:09] aturon commented on #289
@Freyskeyd Even if we head that direction, it still needs leadership and helping hands.

[2017-05-04 13:20] Freyskeyd commented on #289
@aturon I would imagine some self driven repository. Maybe a little group can create with influential people and use the Rust weekly newsletter (like https://this-week-in-rust.org/).

The point about QA is interesting, we need to automate this kind of stuff.

[2017-05-04 13:22] nasa42 commented on #289
I've planned to deprecate a related project - [libs.rs](http://libs.rs) in favour of upcoming [recommendation ranking](https://github.com/rust-lang/rfcs/pull/1824) (and [categories](https://github.com/rust-lang/crates.io/pull/473)) feature in crates.io. I think with these features, crates.io may also supersede awesome-rust.

[2017-05-04 13:23] aturon commented on #289
@Freyskeyd My point is that we need people to commit to the effort if it's going to happen. There are several rust-lang repos that are languishing due to lack of leadership bandwidth.

[2017-05-04 13:51] kud1ing commented on #289
@nasa42 Would that replace more than the section "Libraries"?

[2017-05-04 14:51] booyaa commented on #289
Once the caretakers have been found, I'm sure it could live here in rust-unofficial org? i.e. [rust-unofficial/too-many-lists](https://github.com/rust-unofficial/too-many-lists) or [rust-unofficial/patterns](https://github.com/rust-unofficial/patterns).

I'm willing to put my hat in for the interim, it would be a shame to see this resource get bitrot.

[2017-05-04 15:06] nasa42 commented on #289
A short preliminary review suggests that pretty much everything except "IDEs" section is a crate.

[2017-05-04 15:46] Manishearth commented on #289
FWIW https://github.com/rust-unofficial is a holding yard for things that need maintainers, and is somewhat maintained (accepting PRs and such) by various folks in the community.

We'd be happy to accept this repo and partially maintain it, but we probably can't make major improvements/etc. If there are folks who want to help we can add them to the org.

[2017-05-04 15:49] Freyskeyd commented on #289
I'm interested in helping on `awesome-rust` but not as a main maintainer in fact..

[2017-05-04 16:18] luciusmagn commented on #289
I would love to help in any way. I am not sure if I would be a good main maintainer, but as a last resort, I would be open to anything.

[2017-05-04 16:31] booyaa commented on #289
Looks like there's three volunteers (me, @Freyskeyd and @luciusmagn). I'm happy to be the main maintainer.

[2017-05-04 16:33] Manishearth commented on #289
Come to think of it, if @booyaa and I both want to help, it's worth considering just moving this to the rust-community org and making it officially-unofficially maintained by the community team. Whatsay @erickt?

[2017-05-04 16:58] Freyskeyd commented on #289
@Manishearth that's what I was thinking too

[2017-05-04 18:18] Banashek commented on #230
Just fyi that link is broken now. I don't see a moved link in that blog or any google search either.

[2017-05-04 22:28] ctjhoa commented on #289
Hi,
I'm the [rust-learning](https://github.com/ctjhoa/rust-learning)'s owner
I could bring my help too as I already got some CI things for markdown to manage my repository.
Moreover I've got the same issue of dead links (so we could help each other).
On the other hand, I agree with @nasa42. It seems like most of the content (description, build status, link to the repo) are redundant with crates.io

[2017-05-04 22:30] Manishearth commented on #289
It's good to have these in one place instead of having to click twice to get there though.

But yes, the crates recommendation stuff may supersede this.

[2017-05-05 01:28] mixedCase commented on #289
As someone still learning Rust, I wouldn't like to see this list deprecated in favor of crates.io. The "awesome" curated lists is a sort of community staple I intuitively reach for when I want to learn more about the ecosystem of a specific technology/tool.

At least, if the crates.io recommendations are going to follow the same curation style, it'd be nice to have this repo mirror it.

[2017-05-05 07:06] #230 closed

[2017-05-05 09:04] #281 closed

[2017-05-06 20:17] #87 closed

[2017-05-06 20:17] #251 closed

[2017-05-06 20:17] #256 closed

[2017-05-08 05:56] kud1ing commented on #289
So, until the final destination is figured out, i've added Mark, Manish, Simon and Lukáš as collaborators.

[2017-05-08 08:26] booyaa commented on #289
@kud1ing thanks for making us collaborators. I'd like to get the ball
moving and transfer the repo to the rust-unofficial org. As the creator, I
think you're the only one who can initiate this.

On Mon, 8 May 2017 at 06:56, kud1ing <notifications@github.com> wrote:

--
Sent from Gmail BatMobile

[2017-05-08 11:25] kud1ing commented on #289
@booyaa: If the decision was finalized, i can do it.

[2017-05-08 11:59] booyaa commented on #289
All,

Does anyone have any objections if we transfer this repo into the
rust-unofficial org so it can continue to be maintained?

I've already cleared this with the org team.

The current maintainers will be transferred over and in a earlier in this
thread I staked my claim to be the main point of contact.

Cheers,

Mark
Rust Community Team

On Mon, 8 May 2017 at 12:25, kud1ing <notifications@gith

[2017-05-08 12:53] luciusmagn commented on #289
@booyaa I think it's a good idea.

regards,
Lukáš

[2017-05-08 18:11] Manishearth commented on #289
I agree. Though I would prefer rust-community since I think this is something that falls perfectly within the responsibilities of the team. We can discuss that at the next meeting though.

[2017-05-08 18:12] Manishearth commented on #289
(I can do the transfer to unofficial if needed, I don't know who else has access to both)

[2017-05-08 18:26] luciusmagn commented on #289
@Manishearth That is actually quite a good idea. I am still unsure, but I am becoming more inclined to rust-community. The way I see it, the project will be transferred rather than abandoned, so rust-community seems like a better fit.

I will just be glad if awesome-rust gets a good new home, though.

[2017-05-09 07:58] kud1ing commented on #289
Fine. So @Manishearth please give an update once we can move forward.

[2017-05-10 00:45] carols10cents commented on #289
I'd just like to mention that crates.io is not adding manual curation anytime soon (for a variety of reasons I detailed in various comments on RFC 1824, so there's definitely still a need for people maintaining lists of crates they think are good.

[2017-05-10 06:38] kud1ing commented on #289
Also, compared to every library author choosing their own categories/keywords via {{Cargo.toml}}, i think a central curation can give a more coherent overview more effectively.

[2017-05-10 14:36] Freyskeyd commented on #289
Hey,

If we can't move to `rust-lang/awesome-rust` I think `rust-community` is a better place.

[2017-05-10 15:18] erickt commented on #289
I'm +1 to rust-community! Wonderful idea. Then we can fold this into https://community.rs to help with discoverability.

[2017-05-10 16:32] Manishearth commented on #289
We discussed this today in the community team meeting, rust-unofficial seems a better place for now. We can try to give this more visibility from official locations though.

[2017-05-10 16:33] Manishearth commented on #289
I don't have admin access so someone else will have to do the transfer. I can set up perms for maintainers on rust-unofficial for whoever needs them.

[2017-05-10 17:15] luciusmagn commented on #289
Alright, understood, rust-unofficial is also a great place, although I was more inclined to rust-community.

@Manishearth mind if I ask what reasons make rust-unofficial a better fit than rust-community? I am just curious, not trying to disprove the decision.

[2017-05-10 17:54] Manishearth commented on #289
The argument made was that rust-community shouldn't be a sort of catch-all for anything community related. I personally feel that this repo should be maintained by the community team (+ others) but folks seem divided on that.

[2017-05-10 18:40] luciusmagn commented on #289
I see, thanks for clarifying

[2017-05-11 05:44] kud1ing commented on #289
It seems i can not transfer the repository by myself: "You don’t have the permission to create repositories on rust-unofficial". Anyone have experience with this?

[2017-05-11 05:55] Manishearth commented on #289
I can do it with admin to this repo :)

You need admin on rust-unofficial to do the transfer I think

On May 10, 2017 10:44 PM, "kud1ing" <notifications@github.com> wrote:

It seems i can not transfer the repository by myself: "You don’t have the
permission to create repositories on rust-unofficial". Anyone have
experience with this?

—
You are receiving this because you were mentioned.
Reply to t

[2017-05-11 06:23] kud1ing commented on #289
@Manishearth Let me know if you need anything. I am ready to let go. :)

[2017-05-11 06:36] Manishearth commented on #289
Right, I need admin access to this repo so that I can use the rename settings

[2017-05-11 06:37] Manishearth commented on #289
Er, the move repo settings

[2017-05-11 10:32] kud1ing commented on #289
I have the impression that user account repositories do not have that role: https://help.github.com/articles/permission-levels-for-a-user-account-repository/

[2017-05-11 14:09] Manishearth commented on #289
Hm. I invited you to the unofficial org, you should be able to transfer once you accept that. If that doesn't work idk what's happening :)

[2017-05-11 16:00] kud1ing commented on #289
Interesting, i had to visit `rust-unofficial` to view the invitation.

[2017-05-11 16:00] #289 closed

[2017-05-11 16:14] Manishearth commented on #289
Cool. Can you still add maintainers to the repo? May have to fiddle perms to make that work.

(And is there anyone who should have been added and isn't yet?)

[2017-05-11 18:04] kud1ing commented on #289
Nope, i've lost the "Settings" tab. Probably i am not an admin in the new repository.

[2017-05-11 18:16] kud1ing commented on #289
I've always wanted to hold an emotional speech but have yet to be invited to give one. So here we go ... *cling* *cling*

`awesome-rust` wouldn't have been possible without the countless people contributing to it and of course without all the people writing Rust and using Rust to do awesome things. I hope Rust and `awesome-rust` will prosper for a long time.

[2017-05-11 18:24] Manishearth commented on #289
You should have admin now. Thanks for all your hard work!

[2017-05-11 18:26] kud1ing commented on #289
Also while we're at it, i'd love to see something like https://github.com/kud1ing/rust-recipes develop some more.

[2017-05-11 18:53] luciusmagn commented on #289
@kud1ing That is a nice idea, I'd love to contribute

[2017-05-12 12:14] kud1ing commented on #289
@luciusmagn I've just discovered https://brson.github.io/rust-cookbook/ Our efforts probably should go there instead,

[2017-05-12 12:25] luciusmagn commented on #289
@kud1ing awesome, I'll check it out when I get home!

[2017-05-20 03:12] GildedHonour opened #296 "please include jwt and imap"
please include

a) imap library  https://github.com/GildedHonour/atarashii_imap
b) jwt https://github.com/GildedHonour/frank_jwt

[2017-05-21 09:36] #296 closed

[2017-06-18 20:43] kud1ing commented on #103
I found the offline version of `awesome_bot` quite useful, thank you.

I've added a `.travis.yml` but somehow `awesome-rust` does not show up on Travis https://travis-ci.org/rust-unofficial

[2017-06-19 15:19] booyaa commented on #103
I've enabled the repo in travis-ci, @kud1ing do you want to give it a go again?

[2017-06-19 17:01] kud1ing commented on #103
@booyaa: Thanks, it now shows up but fails: https://travis-ci.org/rust-unofficial/awesome-rust
I am not sure why. I found the line

    git clone --depth=50 --branch=master https://github.com/kud1ing/awesome-rust.git

strange. The former repository URL seems to appear from somewhere.

[2017-06-20 06:49] kud1ing commented on #103
ah ok, we'd unnecessarily pretended to be a Ruby project (copy pasta from https://github.com/dkhamsing/awesome_bot#travis-ci)

[2017-06-20 06:53] #103 closed

[2017-06-20 08:30] booyaa opened #309 "Fix build #3 by correct errors found by awesomebot"
https://travis-ci.org/rust-unofficial/awesome-rust/builds/244830080

We shouldn't normally need to do this with future pull requests, now that we've enabled on travis.

I would also make the suggestion that all maintainers should start using PR rather than editing the file directly so we can all utilise awesomebot validation via travis.

cc @kud1ing @Manishearth @luciusmagn @Freyskeyd

[2017-06-20 11:38] kud1ing commented on #309
Regarding the 4040 from creates.io i've opened https://github.com/rust-lang/crates.io/issues/788

I think PRs are not necessary for Travis. The commit which triggered https://travis-ci.org/rust-unofficial/awesome-rust/builds/244830080 was not done via a PR.

[2017-06-21 06:38] kud1ing commented on #309
Passes, thanks.

[2017-06-21 06:38] #309 closed

[2017-08-23 01:59] c0b opened #330 "have a data processing category? to include the weld-project from standford"
- https://github.com/weld-project/weld
- http://weld.stanford.edu/ redirect to https://weld-project.github.io/

it's written in Rust and main use cases are in Big Data Processing

[2017-08-23 08:49] kud1ing commented on #330
Yes, that makes sense. If you can, please submit a pull request.

We have "graph processing" already and i think it could be moved as a sub catagory of the new category.

[2017-08-27 19:39] cardoe opened #331 "some suggestions"
Please consider the following crates:

- pem For parsing data from PEM files
- cargo-ebuild For creating Gentoo ebuilds from crates.io packages
- cargo-bitbake For creating Yocto recipes from crates.io packages

[2017-09-01 16:29] stiv-yakovenko opened #333 "Consider removing scirust"
It doesn't build nowdays and doesn't seem to be supported any more...

[2017-09-01 17:04] kud1ing commented on #333
I agree that removing can be as important as adding.
In this case however i think the time has not come yet. The project builds for me (Rust 1.20) and to me inactivity begins (subjectively) after about 1-2 years.
Thanks for the hint anyway.

[2017-09-04 20:07] P-E-Meunier opened #337 "Add Pijul"
Pijul is a distributed version control system based on a new theory of patches, and entirely implemented in Rust.

[2017-09-12 14:05] krircc opened #341 "add kylyp project."
kylyp: The project use rust, rocket, diesel, postgresql, and responsive design to build a new Forum.
[kylyp](https://github.com/mcux/kylyp)

[2017-09-19 05:50] luciusmagn commented on #341
Closing as you have already added kylyp to the list. It's a nice addition

[2017-09-19 05:50] #341 closed

[2017-09-19 15:11] luciusmagn commented on #337
Seems interesting, could you open a PR for it?

[2017-09-19 15:16] luciusmagn commented on #333
Builds for me too, do you maybe mean the build.txt file in the respository? That one shows failure, but only because some tests failed. However, the file is 2 years old, so it's probably not relevant anymore

[2017-09-19 15:23] luciusmagn commented on #331
Sure, looks pretty nice. You can certainly open a PR for your crates, just follow the standard format for entries

[2017-10-05 15:27] oldaniel opened #348 "Add `zap`"
`zap` is a lightning fast web framework that is up to **2.8times faster** than iron which is based on hyper.

Currently the `0.0.1` release had been done, and there will come a lot of future add-ons and optimizations to reach the 3times faster mark.

URL: https://github.com/oldaniel/zap

[2017-10-05 16:16] luciusmagn commented on #348
Thanks, looks very interesting, I'll quickly add it. Next time you can just open a pull request directly :)

[2017-10-05 16:16] #348 closed

[2017-10-05 16:17] oldaniel commented on #348
@luciusmagn Ok, will do it the next time.

[2017-10-05 16:19] oldaniel commented on #348
@luciusmagn Zap isn't a Websocket Libary. Just a HTTP server like iron

[2017-10-05 16:30] luciusmagn commented on #348
Oh yeah, my bad

[2017-10-05 18:41] #337 closed

[2017-10-09 04:46] Kendos-Kenlen opened #353 "Consider removing JustSid/AfterglowIntelliJ"
The IntelliJ plugin JustSid/AfterglowIntelliJ has nothing to do with Rust programming, and is not even written in Rust. It should be removed from this list.
It is rather a theme for IntelliJ and the only thing it comes with regarding rust is a file icon ...

[2017-10-09 07:24] kud1ing commented on #353
I agree, thank you.

https://github.com/rust-unofficial/awesome-rust/commit/d6f217a01fdecffa716a55c58e2b45fa487234c2

[2017-10-09 07:24] #353 closed

[2017-10-09 07:26] #333 closed

[2017-11-04 07:41] quadrupleslap opened #371 "Split templating engines category into "static" and "dynamic""
Not the best names, but some template engines can load templates at run-time, whereas others work at compile-time (because they use plugins or macros, like Horrorshow). This is a pretty big distinction that should probably be mentioned.

[2017-11-07 09:26] luciusmagn commented on #371
Hmm, I guess you are right. However, so far, we only have 8 templating engines, which are already split into categories - Handlebars, HTML, Mustache and one freestanding, so I am not sure if fragmenting it even further is a good idea.

What do you think, @kud1ing?

[2017-11-14 15:56] luciusmagn commented on #331
@cardoe are you still interested in adding these crates?

[2017-11-15 01:22] cardoe commented on #331
Yes. Apologies. This slipped through the mental cracks.

[2017-11-15 12:48] #331 closed

[2017-11-15 12:48] luciusmagn commented on #331
Thanks, merged

[2017-11-15 12:49] luciusmagn commented on #330
Hello @c0b, are you still interested in adding these crates?

[2017-12-03 19:48] Luke-Nukem opened #382 "Split categories in to files?"
Wondering if it would be a good idea to split categories in to separate md files?

Reason being, it may become harder to keep track and/or edit later.

[2017-12-03 20:17] luciusmagn commented on #382
This idea might sound good on paper, but I see several pitfalls:

- Many files might be created, which could introduce mess
- Automatic validation using Travis w/ awesome-bot would be more complicated
- Searching in the list would be harder, right now it's just Ctrl+F for whole list
- Less 'versatile' - right now, I can just use a simple script to have a render of the list on my website http://mag

[2017-12-04 06:52] kud1ing commented on #382
I agree with @luciusmagn especially regarding maintenance, browsability and searchability.
I'd like to postpone that until the pain of not doing is gets overwhelming,

[2017-12-04 08:53] Luke-Nukem commented on #382
I think I agree in the end too. Maybe some time in the future it will need to be revisited, but not now eh?

I'll close.

[2017-12-04 08:53] #382 closed

[2017-12-12 19:36] amilajack opened #389 "Add "trust""
[trust](https://github.com/japaric/trust) is a "Travis CI and AppVeyor template to test your Rust crate on 5 architectures and publish binary releases of it for Linux, macOS and Windows"

Would a PR for this be welcome?

[2017-12-12 19:48] luciusmagn commented on #389
It most certainly would. Feel free to open it.

2017-12-12 20:36 GMT+01:00 Amila Welihinda <notifications@github.com>:

[2017-12-13 07:27] #389 closed

[2017-12-17 17:11] yutthhh commented on #371
จ

[2017-12-17 17:11] yutthhh commented on #371
ง

[2017-12-17 17:13] yutthhh commented on #371
08544398.,

[2017-12-17 17:14] yutthhh commented on #371
0854439809

[2017-12-17 18:07] luciusmagn commented on #371
@yutthhh do you need something regarding awesome-rust? State your business

[2017-12-22 12:47] #330 closed

[2018-01-21 18:33] flosse opened #404 "Industrial automation category?"
I'd like to add the [tokio-modbus](https://github.com/slowtec/tokio-modbus)  library but I'm missing an appropriate category. Would you accept `Industrial automation` or `Automation engineering`?

[2018-02-16 05:47] oltdaniel opened #414 "Quick update Name"
https://github.com/daniel-Q6wUOI/zap -> https://github.com/oltdaniel/zap

Just renamed the account

[2018-02-17 19:50] #414 closed

[2018-02-21 21:17] memoryruins opened #419 "Change format for list entries"
As awesome-rust grows, there are a few tweaks that may improve readability, consistency, and load times. Before making changes en masse, it would be great to hear anyone's thoughts and a green light from maintainers.

* e.g current format (for half the current list. currently, not all entries include links to crates)
  * [kbknapp/clap-rs](https://github.com/kbknapp/clap-rs) [[clap](https://crates.

[2018-03-15 04:17] jbeguna04 opened #430 "Cebuano Localization"
Hi Good Day! I would like to request to contribute in your project. Please allow me to have translation in Cebuano. Hoping for your positive response!
Thank You!

[2018-03-15 06:50] luciusmagn commented on #430
Howdy, the project is licensed under CC0, so I don't think there is anything stopping you from having your own translation in whatever language you desire. It would probably be nice to mention us in there somewhere, though. Best of luck,
Lukáš

[2018-03-19 20:13] mothsART opened #435 "Sōzu, a HTTP reverse proxy"
https://github.com/sozu-proxy/sozu

[2018-03-23 11:48] luciusmagn commented on #435
Looks like a great addition. Can you open a PR to add it?

[2018-03-24 12:54] mothsART commented on #435
#439

[2018-03-24 14:11] mothsART commented on #435
#440

[2018-03-27 19:17] luciusmagn commented on #430
Unless there is something you would like to add, I will be closing this issue for now. Good luck.

[2018-03-27 19:17] #430 closed

[2018-03-27 19:19] luciusmagn commented on #404
Industrial Automation sounds good, although probably both would be fine. Sorry I missed this issue for so long

[2018-03-27 19:21] luciusmagn commented on #168
If support for this was to be introduced to crates.io, I am all for, although it would require a lot of work to retroactively add the badges to older entries

[2018-03-28 14:03] flosse commented on #404
Thanks for your feedback. I just crated #444 :)

[2018-03-28 14:03] #404 closed

[2018-05-02 09:39] jsomedon opened #460 "missing awesome badge in README.md?"
Thought we should have that "awesome badge" - [![Awesome](https://awesome.re/badge.svg)](https://awesome.re) in README.md, or did we leave it out intenionally for some reason?

[2018-05-02 10:09] ozkriff commented on #460
See #239, #83 and #64.

[2018-05-15 00:45] dbkaplun opened #463 "Feature: add nebulet to Operating Systems"
https://github.com/rust-unofficial/awesome-rust#operating-systems
https://github.com/nebulet/nebulet

Thanks!

[2018-05-22 17:06] Martin1887 opened #464 "Update libui repository link with the updated fork"
The `libui` linked had been abandoned. The current most updated fork is https://github.com/LeoTindall/libui-rs.

[2018-05-22 17:08] Martin1887 opened #465 "Update leaf (machine learning section) repository with the most updated fork 'juice'"
Leaf project had been abandoned. The most updated fork is https://github.com/spearow/juice.

[2018-05-26 11:49] Martin1887 commented on #464
Proposed pull request #466.

[2018-05-26 11:49] #464 closed

[2018-05-26 11:53] Martin1887 commented on #465
Proposed pull request #467.

[2018-05-26 11:53] #465 closed

[2018-06-03 15:18] luciusmagn commented on #463
Ah, sorry, missed the issue :sweat_smile:
Nebulet looks mighty fine and would be a great addition to the list. You can open a PR to add it, if you want (that is the standard procedure for proposing new entries), or I can add it, if you aren't up for the task.

[2018-06-04 21:08] #463 closed

[2018-06-18 16:37] luciusmagn opened #479 "Awesome-rust Renaissance (Rework of the list)"
## The Premise
Awesome-rust is a very old list. So old, in fact, that it even
predates Rust v1.0. Even better, `awesome-rust` existed before Cargo
was released. Over the years, @kud1ing's tiny list grew into the
massive collections it is now. It doesn't matter what you need to do,
we probably have an entry for it.

Today, we have roughly 70 categories containing hundreds of projects.
Sadly, we als

[2018-06-18 16:38] luciusmagn commented on #479
@memoryruins @svenstaro

[2018-06-21 12:35] kud1ing commented on #479
Back then i saw 2 different approaches:

* generate HTML/Markdown from a single source of data (e.g. JSON file(s)):
  * Proc:
    * entries can be defined once but used in different categories (e.g,. Hyper is for both server and client)
    * output format (badges), sorting can be changed central and independent of the data
    * data formats like JSON would be easier to parse and process than Mar

[2018-06-22 22:57] Raj2032 opened #482 "Can't install toolchain"
For some reason when I installed Rust (rls), it prompted me to install toolchain so I did now I get this error

https://discourse-cdn-sjc1.com/business5/uploads/rust_lang/original/2X/d/d1d55e667511d5538b141de83b203327d8178c3c.png

May I know how to resolve this?

[2018-06-23 02:30] Raj2032 commented on #482
I accidently closed the other issue so I made a new issue

[2018-06-26 18:08] luciusmagn commented on #479
I am a proponent of the single-file design as well and I'd like to preserve the spirit of the list as it is.

I never thought about using a generator, but perhaps it is not a bad idea. I feel that TOML might be a nice middle ground as it is pretty readable and quite popular in the Rust community.

[2018-06-26 20:51] kud1ing commented on #479
@nasa42 has used TOML for https://github.com/nasa42/libs.rs/tree/master/categories

[2018-08-09 21:45] brycx commented on #479
Hi

I've been trying to do look through some of the listed projects, but am having a hard time defining when a project should be removed.

For example I know [libOctavo](ttps://github.com/libOctavo/octavo) has had no activity, based on the actual code files, for 2 years. It also states itself as a heavy WIP. [suruga](https://github.com/klutzy/suruga) lists itself as inactive, so that seems to be a

[2018-08-09 21:49] brycx commented on #482
I think you're looking for [RLS](https://github.com/rust-lang-nursery/rls).

[2018-08-10 06:49] kud1ing commented on #479
@brycx I think one needs to distinguish "usefulness" as "i can use the code" and "the code is interesting/insightful etc.".

To me "i can use the code" was the most important goal for awesome-rust. There is no reasons we couldn't keep pointers to interesting code but if they can not be used it should be in a different category.

[2018-08-11 08:37] brycx commented on #479
@kud1ing Thanks. I'll have another swing at it.

[2018-08-11 11:33] kud1ing commented on #479
That being said, i don't think there is an easy solution. It will always be a struggle.

[2018-08-26 16:58] luciusmagn commented on #482
For future reference, you can reopen the issues that you close, there is a button for that :smiley:

We are mostly just about collecting cool projects and not really a help central, but I suggest checking out the link in @brycx's comment. RLS stands for Rust Language Server and is not the same as just Rust. The recommended way to install Rust is to use <rustup.rs> which has an installer for all th

[2018-08-26 16:58] #482 closed

[2018-10-21 15:56] aleshaleksey opened #537 "Would like to add a couple of little projects but don't know if they're awesome or not."
Hello Rustaceans of awesome-rust,

I would like to add a little application (or two) here, but I don't know whether they count as awesome or junk in the eyes of Rustiety. Both are in Rust and use Conrod for the ui.

The first is a dice roll success distribution generator (mostly for making homebrew table top games), so its of limited utility:
[AZDice](https://github.com/aleshaleksey/AZDice).

Also

[2018-10-22 07:53] webdesus commented on #537
I think better idea for `rust-unoffical` was create new repository `awesome-projects`, and add link in awesome-rust. Cuz this realy might be intresting projects, but i think many people wait from this list only lib things... maybe i wrong.

P.S @aleshaleksey nice projects, can you add screenshots to your repository?

[2018-10-22 18:49] aleshaleksey commented on #537
Well that's the thing, ```awesome-rust``` has a lot of genuinely useful lib-type crates which developers use as extensions to the language (I use them too). On the other hand it also has quite a few applications (each with its own uses). Thus if the given list contained only libs I would know not to post here, and if it contained only applications I would have fewer misgivings than I do.

As for w

[2018-10-23 18:11] luciusmagn commented on #537
@webdesus Yes, you are wrong, but it's no problem. Here, we keep not just awesome Rust libraries, but also applications, tools and learning materials. There was even a time when we had an icon theme in the list, but that was since removed since the link to Rust was too weak.

The point of this list being so monolithic is that we want to collect all awesome resources in one place, not split it acro

[2018-10-23 20:53] aleshaleksey commented on #537
@luciusmagn
i) I see. That clears things up somewhat. In that case I will open a PR. At best someone will find them useful, at worst, it will be good motivation for me  to make them better.
ii) As for the generator, it was originally cli, which generated the csv and displayed a sample of the probabilities (so now I've uploaded it). But it didn't do graphs, and since I would be opening them anyway,

[2018-10-23 20:53] #537 closed

[2018-10-30 19:01] meltinglava opened #544 "Add turtle.rs"

[2018-10-30 19:23] luciusmagn commented on #544
It looks like a nice project, but you need to open a pull request in order for it to be added. Thank you!

[2018-11-12 18:59] ErichDonGubler opened #552 "Awesome Rust should get a logo!"
Hey there! owner of [Not-Yet-Awesome Rust](https://github.com/not-yet-awesome-rust/not-yet-awesome-rust) and the [Utah Rust](https://www.meetup.com/utahrust/) meetup here. I've been learning some SVG creating logos and throwing together random things to hash out ideas for both organizations. Here are some examples of things I've toyed with:

* https://github.com/not-yet-awesome-rust/not-yet-awesom

[2018-12-18 17:08] r6m opened #576 "add treescale"
please add [TreeScale](https://github.com/treescale/treescale)

I ran into it a few weeks ago. but forgot the name. took hours to find it again. I think it's worth to be in the list.

[2019-01-13 13:30] aleshaleksey opened #595 "Would like to add library, not sure of category."
Hello again,

I would like to add another project, which is an "education" related library ([libchmq](https://github.com/aleshaleksey/libchmq)). However, there is not an "education" category, so I would like to ask for advice as to how to proceed.

Thanks in advance,
Alek.

[2019-01-14 13:45] swarnimarun commented on #595
I nice idea would be to add it to a miscellaneous section.
Cause this isn't really education, I mean it can change depending on the context. I believe people in the list would think education is related to Rust education.

[2019-02-05 01:54] naturallymitchell opened #606 "Guides for switching to Rust from other languages"
where can this go?
https://github.com/mgattozzi/rust-from-lang

[2019-02-15 19:18] ErichDonGubler commented on #552
Pinging @luciusmagn, since I haven't gotten a respond on this and really wouldn't mind if it simply wasn't interesting and was closed.

[2019-03-04 00:44] BurntSushi opened #627 "remove typemap from list"
I'm not sure what the process is for removing crates from this list, but we should probably drop typemap since it doesn't compile on Rust stable and appears unmaintained. See: https://news.ycombinator.com/item?id=19297233

(As far as I can tell, most or all of @reem's crates are unmaintained, so we should stop suggesting them and stop depending on them. I think typemap is the only such crate on th

[2019-03-13 03:30] pfwangdx opened #632 "A BlockChain project named CITA"
[**CITA**](https://github.com/cryptape/cita)

A high performance blockchain for enterprise users.

[2019-04-05 10:56] kud1ing commented on #627
We've had discussions some time ago. I prefer that the code we link is useful in the sense that it can be used and does something meaningful.

However if there is a gap in the Rust ecosystem i think it is useful to point to inital attempts either for inspiriration or for people to pick up the torch.

In this case, i don't know. Are there alternatives?

[2019-04-05 11:01] BurntSushi commented on #627
This list is called "Awesome Rust." I feel like anything that is both unmaintained and won't compile on the latest stable version of Rust is definitively *not* "Awesome." I don't think it's relevant whether there's a gap in the ecosystem or whether there are alternatives.

But that's just me. If you want to change this from "Awesome Rust" to "Awesome Rust and not so Awesome Rust," then sure, maybe

[2019-04-05 11:08] kud1ing commented on #627
From the POV of users i agree 100% with the expectation that projects should compile.
Maintenance status is not always easy to decide in general, eg.g. for stable projects that were untouched for quite some time.

Developers willing to invest in the ecosystem OTOH might also be interested in currently unmaintained projects. In the meantime there is also now https://github.com/not-yet-awesome-rust/

[2019-04-05 11:09] #627 closed

[2019-04-05 11:33] BurntSushi commented on #627
@kud1ing Thanks!

Yeah, totally. Probably the best we can do is just let people file bugs when projects stop working and are clearly not maintained.

[2019-06-02 08:52] luciusmagn commented on #606
I would say Resources->Learning

[2019-06-02 08:52] luciusmagn commented on #632
Nice, can you open a PR to add it?

[2019-06-06 14:54] f13end commented on #552
![awrust](https://user-images.githubusercontent.com/3318070/59042960-102dac00-8884-11e9-8bfb-e2355ffc425c.png)

What do you think about this logo?

[2019-06-06 15:46] luciusmagn commented on #552
Truth to be told, this completely flew under my radar. I will get back to y'all when I get home. Apologies for the massive delay @ErichDonGubler . I have been mostly focusing on PRs and didn't notice this issue appeared

[2019-06-06 16:32] ErichDonGubler commented on #552
@f13end: Wow, what inspired THAT logo beside the Rust chain gear? :) It's awesome!

[2019-06-07 13:09] f13end commented on #552
Just google for my inspiration :)

[2019-07-17 12:23] frederikhors opened #698 "Anything about GraphQL?"
Anything about GraphQL?

[2019-07-19 12:04] luciusmagn commented on #698
Well, I have heard about several liberaries.

Namely:

- [Juniper](https://github.com/graphql-rust/juniper)
- [graphql](https://github.com/nrc/graphql)

GraphQL support in Rust isn't 100% mature, but it's already starting to look promising!

[2019-07-19 12:15] h-michael commented on #698
client library: https://github.com/graphql-rust/graphql-client

[2019-09-03 14:21] igor-petruk opened #715 "Please incorporate posts from this beautilful Reddit thread in /r/rust"
https://www.reddit.com/r/rust/comments/cysvjh/what_are_some_amazing_softwaresoftware_clones/

It helped me to discover things like starship, hors, dust, missing from this list.

[2019-09-05 18:08] RokuKent opened #717 "Could you add the new Rustacean Station Podcast to the list"
https://rustacean-station.org

[2019-10-09 03:03] BrooksPatton opened #729 "Do we want to add live streamers or YouTube playlists?"
I have enjoyed watching some YouTube playlists as well as live streamers who are using Rust. Would links to the playlists or streamer pages be something the community would b interested in adding?

[2019-10-25 12:52] GrigorievNick opened #742 "Could you add Balista, distributed in memmory computation engine base on K8s in rust?"
https://github.com/andygrove/ballista

[2019-11-10 19:05] deepnum opened #761 "how to list all the files in a website"

[2019-11-15 11:09] geeksesi opened #763 "global hotkey"
hello,
someon please add this :
[global hotkey](https://github.com/unwrittenfun/hotkey-rs)
@UnwrittenFun

[2020-01-01 00:31] vertexclique opened #783 "Can you add Bastion ecosystem?"
Can you add:
* [Bastion](https://github.com/bastion-rs/bastion): Erlang like highly-available fault-tolerant runtime
* [Artillery](https://github.com/bastion-rs/artillery): Distributed carrier protocol for Bastion
* [Numanji](https://github.com/bastion-rs/numanji): Local-affinity first NUMA-aware allocator with optional fallback.

[2020-01-01 00:37] vertexclique opened #784 "Can you add Cuneiform crates?"
[Cuneiform](https://github.com/vertexclique/cuneiform): Cache optimizations for Rust. (no_std)
[Cuneiform Fields](https://github.com/vertexclique/cuneiform-fields): Field level cache optimizations for Rust. (no_std)

[2020-01-07 14:59] palfrey commented on #52
It took me a little bit to figure this out. If you added https://creativecommons.org/publicdomain/zero/1.0/legalcode.txt as LICENCE.txt to the repository, Github should pick it up and apply it to the repo.

[2020-01-12 18:53] Nutomic opened #794 "Please add Lemmy"
Federated alternative to Reddit

https://github.com/dessalines/lemmy

[2020-01-14 15:37] flyq opened #801 "Please add libp2p-rust."
libp2p is the most important spec of p2p networking in blockchain.

for more information:
https://libp2p.io/
https://github.com/libp2p/rust-libp2p

[2020-01-17 23:47] palfrey commented on #717
Done by #705

[2020-01-22 17:07] palfrey commented on #479
Is there still interest in this? Now that we've got a rustified linter (#792), I was considering whether more could be done beyond just checking for broken links.

Thoughts for changes:
- Enforce a format for project lines (e.g. `[name](link to project) - description [crate badge if relevant][build badge]` is my current thinking, plausibly with a check that if the build badge is Travis and the lin

[2020-01-29 11:23] #742 closed

[2020-01-29 11:23] #763 closed

[2020-01-29 12:46] kud1ing commented on #289
If anyone is still interested, this project is looking for maintainers again: https://github.com/rust-unofficial/awesome-rust/pull/807

[2020-01-29 13:40] Freyskeyd commented on #289
@kud1ing is it really time consuming?

[2020-01-29 13:53] #794 closed

[2020-01-29 15:25] palfrey commented on #801
Closed with 1c6c6248f8d51cf0c366513263e1efaf3a32ea23

[2020-01-29 15:25] #801 closed

[2020-01-29 15:25] #717 closed

[2020-01-29 15:30] palfrey opened #814 "Build sometimes fails due to Youtube robot detection"
See https://travis-ci.org/rust-unofficial/awesome-rust/builds/643419580

[302] https://www.youtube.com/watch?v=t4CyEKb-ywA -> https://www.google.com/sorry/index?continue=https://www.youtube.com/watch%3Fv%3Dt4CyEKb-ywA&q=EgQj7TjQGOTAxvEFIhkA8aeDS0h46MMAkMrEDQMrijr2DSB9pq1jMgFy

[2020-01-29 16:17] palfrey commented on #715
If you can go through and submit PRs for anyone of those, that would be appreciated!

[2020-01-30 07:36] kud1ing commented on #289
@Freyskeyd That depends on multiple things: how many pull requests people submit, how much there is to cleanup (e.g. due to repository renames), how many people there are to share the maintenance workload. For a single maintainer it can be stressful.

[2020-01-30 15:02] palfrey commented on #698
graphql-client and Juniper are now both linked. @luciusmagn Can I close this?

[2020-01-30 15:03] palfrey commented on #783
Could you submit a PR for this please? We'd be interested in the entries.

[2020-01-30 15:09] palfrey commented on #168
Once https://github.com/rust-lang/rust/issues/65262 gets implemented we could possibly feed off that. Maybe write a tool to grab `Cargo.toml` files and look for the relevant field.

[2020-01-30 16:40] #814 closed

[2020-02-08 09:24] gorros opened #821 "Edit s3 files."
Hi. I wrote a tiny utility to edit files on S3 directly in CLI.
https://github.com/gorros/s3-edit-rs
If you find it useful please add to the list.

[2020-02-08 12:59] palfrey commented on #821
Can you submit a PR to add the tool please?

[2020-02-08 16:38] ZempTime opened #824 "'Actor' Crates"
I've been evaluating crates for use as the basis of an actor-based system.

One of the top contenders, https://github.com/riker-rs/riker , isn't on this list.

* riker-rs/riker — An Akka-inspired Actor library for Rust

Where should this go on the list? (Inside the 'Low-level' section?) Does this deserve a category?

Let me know what you think, and I'll PR it in

[2020-02-08 19:49] #821 closed

[2020-02-08 19:54] palfrey commented on #824
"Low-level" seems the best of our existing categories, but that possibly needs some refactoring.

@luciusmagn Any thoughts on this?

[2020-02-18 13:22] rugk commented on #552
@f13end Do you also have the source files for that logo then (SVG?)...

[2020-02-18 13:37] rugk opened #834 "Build fails"
Your Travis build https://travis-ci.org/rust-unofficial/awesome-rust is fasiling with the link https://www.manning.com/livevideo/rust-in-motion?a_aid=cnichols&a_bid=6a993c2e

[2020-02-18 14:03] palfrey commented on #834
Hmm. Looks like a transient failure of that site, despite our attempts at retries. I've just re-run the build, and it's looking fine again. We might however at some point need to look at caching results for an extended period of time to further workaround items like this.

[2020-02-18 14:03] #834 closed

[2020-03-26 22:55] palfrey opened #859 "429 errors from Github"
We're seeing 429 errors when trying to request Github sites. This is because we're doing >60 requests/hour, which is the limit for unauthenticated requests. We should start optionally authenticating requests (and doing this in CI) so that we can get to the 5000 requests/hour allowed there, and probably also auto-rewrite all Github URLs to request the API instead so we can more easily use the authe

[2020-03-31 15:37] chevonmdphillip opened #861 "Add https://github.com/Edu4rdSHL/findomain to Security Tools"
Hi,

This is more off a request. Can you please add https://github.com/Edu4rdSHL/findomain to your security tools section.

[2020-03-31 15:49] palfrey commented on #861
Please submit a PR and we'll have a look at it. Thanks!

[2020-03-31 15:58] palfrey commented on #784
Please submit a PR and we'll have a look!

[2020-04-05 14:00] OAyomide opened #869 "WebAssembly section"
Can we have a WASM section? I know some things like wain are in categories like FFI but it would be nice to have a dedicated WASM category containing WASM stuff only.

@palfrey thoughts?

[2020-04-11 10:13] vired opened #872 "remove CI badges"
they clutter the file and make huge amount of network usages.
if someone is interested in a project, they will visit that project's repo or website to get more information.

[2020-04-11 23:16] vired commented on #872
https://github.com/rust-unofficial/awesome-rust/pull/876

[2020-04-17 02:10] #872 closed

[2020-04-20 14:02] Z-M-I-T-H commented on #869
Well, there's web frontend section. I would recommend also [woz.sh](woz.sh).

[2020-04-25 17:26] #859 closed

[2020-04-25 17:32] #861 closed

[2020-04-25 18:10] palfrey commented on #632
https://github.com/rust-unofficial/awesome-rust/pull/788 added this

[2020-04-25 18:10] #632 closed

[2020-04-25 18:10] #698 closed

[2020-04-28 11:22] senden9 commented on #729
Streamers can now be found under https://github.com/jamesmunns/awesome-rust-streaming

[2020-04-28 14:26] palfrey commented on #729
If you want to add a PR adding that link to the README, that would be appreciated :)

[2020-04-28 21:33] #729 closed

[2020-05-20 17:57] yaahc opened #899 "Add an error handling section"
I'm planning on doing this myself with a PR but I figured I'd open a discussion first to verify that there isn't any particular reason there's not already an error handling section and to get the maintainers opinions about how such a section should be structured.

My plan is to add a section on error handling that then has sub sections by error handling sub problems, and then list libraries in eac

[2020-05-20 19:47] palfrey commented on #899
Sounds good to me. The main reason that we don't have an error library section so far is that no one submitted a PR :) The format sounds good, and note that in line with other sections that if there's a library that's actually "all of the above", then it could get put straight under "Error Handling" as opposed to needing to go under one of the subsections.

Thanks for the idea, and looking forward

[2020-05-20 19:53] palfrey commented on #784
Closing as this has been open for 4 months, and no PR. Please re-open if you want to submit a PR for this.

[2020-05-20 19:53] #784 closed

[2020-05-20 19:53] palfrey commented on #715
Closing as this has been open for 8 months, and no PR. Please re-open if you want to submit a PR for this.

[2020-05-20 19:53] #715 closed

[2020-05-30 23:05] cfsamson opened #900 "Tiberius has changed ownership"
Ownership of the Tiberius crate seems to have been transferred to https://github.com/prisma/tiberius as you can see from the link on the link to the repository on [the crate.io page](https://crates.io/crates/tiberius). The link in Awesome Rust currently points to an archived repository.

There has been no mention of this in the original repository in the readme but it is hinted at in the last [iss

[2020-05-31 10:03] #900 closed

[2020-07-08 18:17] ozkriff opened #923 "Add "This Month in Rust Gamedev" Newsletter"
I'd like to add a link to the rusty gamedev newsletter, but I'm not sure where it should be placed.

[2020-07-11 09:37] palfrey commented on #923
Probably a new section under Resources? "newsletters" or similar?

[2020-07-27 19:16] Chief-Detektor opened #931 "Add minifb library"
Hi!
While I was looking for some low level windowing/gfx libs here I was surprised that [minifb](https://github.com/emoon/rust_minifb) was not added, yet.
It's a cross platform library that provides the user basically with a framebuffer and keyboard and mouse input.
I am not sure under which category this would fit best (gfx, or a even a new category)?

Thanks for this awesome list!
Keep up the co

[2020-09-01 22:08] rocallahan opened #950 "rr does not use Rust"
Not sure why it's on your list.

[2020-09-02 17:22] palfrey commented on #950
Hmm. Not sure why that got added (the original PR, #245 doesn't have any hints). I've removed it in eac69d67abb91a1ec5451e9fffc3a5ef7f2bfac6.

[2020-09-02 17:22] #950 closed

[2020-09-03 16:35] luciusmagn commented on #950
If I recall correctly, nothing in the Debugging section was written in Rust (IIRC), but they were added because they had
support for Rust, hence counting as a Rust resource, not Rust code.

I don't know much about rr though

[2020-09-03 22:35] rocallahan commented on #950
Oh, I see! Sorry!

After scrolling through hundreds of applications and tools written in Rust I just assumed everything on the list was supposed to be written in Rust. I didn't realize that it transitioned to tools that you can use to work with Rust. So I filed this bug in error, sorry.

[2020-09-03 22:36] rocallahan commented on #950
It is certainly true that rr works with Rust.

[2020-09-18 15:19] qlcom opened #963 "Remove those badges from README.md"
they bloats up the markdown source

[2020-09-18 16:59] qlcom commented on #963
https://github.com/rust-unofficial/awesome-rust/pull/964

[2020-09-19 16:59] palfrey commented on #963
Short answer: no
Long answer: no, because they provide useful information. However it's plausible we may want to revisit the format and consider how to redo them, or maybe move to a data format of the list that we use to say generate versions with and without build badges or something. See existing discussion at #479

[2020-09-19 16:59] #963 closed

[2020-09-19 17:02] qlcom commented on #963
if someone is interested in a repository, they visit it and get more information there.

[2020-09-19 17:06] qlcom commented on #963
instead of making a simple list, you are producing giant mess. don't do that.

[2020-09-30 19:22] nicolaiunrein opened #972 "Consider adding cargo-get"
Hey!
 I was in need of a tool to conveniently query Cargo.toml files from within our deploy scripts and could not find anything useful on crates.io, so I created a cargo plugin that does just that. I have the feeling that others might find this useful and wanted to announce it here.

### Examples
[code]

If you are interested please have a look at [cargo-get](https://crates.io/crates/cargo-get) on

[2020-09-30 21:31] palfrey commented on #972
Plausibly of interest. Please submit a PR! I'd note that there's no CI for this, which isn't a hard requirement, but something that concerns me when I see a project without it.

[2020-09-30 21:33] palfrey commented on #931
Looks interesting. Possibly under the GUI category? Please submit a PR to add it.

[2020-10-01 20:54] #972 closed

[2020-10-09 08:00] palfrey opened #981 "Project issues"
This is to some extent a continuation of #479, but also some other items. I'm interested in particular in @luciusmagn and @kud1ing's thoughts, but others are also welcomed

So, I'm feeling a bit burnout on this project, and as such will be switching off notifications on new PRs and won't be reviewing them for at least a bit. A lot of my issues come down to the following problems:

* Quality of rep

[2020-10-09 08:21] kud1ing commented on #981
Hi,

I am sorry to hear that. But I can relate to this very much.

Regarding:
* Quality of projects to link to: i am all for quality over quantity. This is a quite subjective and difficult topic. Especially when it comes to inactive but important projects.
* Quality control: i've always felt that a cleanup script is necessary to enforce a common style (to fix ordering, whitespace, dashes etc.).

T

[2020-10-10 05:03] quintrino commented on #981
I'm also in favour of mechanical options of quality, if it's awesome it will reach a stage of popularity, and remove all elements of 'Is this awesome?' from the maintainers judgement feels more accessible and efficient as long as the metrics are clearly communicated.

Closing PRs quickly when they aren't completing the required steps seems fine, you can easily include a "if you get a chance to add

[2020-10-10 09:22] palfrey commented on #981
My thinking on stars is that they're inaccurate at the high end, but useful at the low end. To give an example: if Project A has 1000 stars and Project B has 2000 stars, all we can really say is that both projects are popular and Project B has more people that have starred it, but would be hard to say definitively which one is more popular. OTOH, vs. Project C with 2 stars, we can say that both A

[2020-10-10 14:18] kud1ing commented on #981
I'v experimented with this in the beginning. This has a lot of advantages. The biggest two downsides are:
* it's less straightforward/harder/more unpleasant for people to contribute.
* there needs to be a generation step running somewhere at the right time. With GitHub actions this might be easier nowadays, i don't know.

[2020-11-03 11:10] kydos opened #988 "Add zenoh"
[zenoh](https://crates.io/crates/zenoh) is an innovative communication framework entirely written in async Rust. We focus on the unification of data in motion and data at rest as such zenoh can be used as a pub/sub or a geo-distributed storage system.

We propose to add zenoh to the network programming and the data-base sections of your list. We'll  submit a pull request with the suggested changes

[2020-11-12 10:20] BinChengZhao commented on #988
I'm having the same problem, PR is reporting errors during the CI process, there seems to be a small problem with the official CI, hopefully this can be fixed.

[2020-11-12 13:34] kydos commented on #988
Indeed @BinChengZhao, it seams that the build for the project is failing.

[2020-12-13 14:49] naomijub opened #1003 "Add Load Balancer Convey"
Convey https://github.com/bparli/convey is a layer 4 Load Balancer and in its early stages has outperformed nginx and HAProxy. I would add it to  [**Cloud**](https://github.com/rust-unofficial/awesome-rust#cloud) or create a new field **Load Balancer**.

Thank you

[2021-01-21 02:09] saki-osive opened #1013 "Added new link of the holochain repo, also kept the old one"
This is the issue for PR #1012. The link that points to the holochain repo has been updated to point to the new repo which is actively being maintained. The link and build status of the old repo have been kept, the new repo doesn't provide build status, so it's not been included.

[2021-02-26 01:25] williamdes opened #1042 "Add Vaultwarden Rust back end"
The Rust back end is an open source alternative to the C# official back-end.

https://github.com/dani-garcia/vaultwarden#readme

[2021-03-15 13:17] vsonicmu opened #1054 "Add SmartCore to Artificial Intelligence / Machine Learning"
Can SmartCore please be added to the list of Machine Learning libraries? It is a meta-library (similar in concept to linfa)

**Crate**: https://crates.io/crates/smartcore
**Homepage**: https://smartcorelib.org/
**Github**: https://github.com/smartcorelib/smartcore

thank you!

[2021-03-28 22:17] kydos commented on #988
@luciusmagn, please let me know if there is anything else that needs to be done in order to get Zenoh on the list.
Thanks!

[2021-04-04 03:27] naomijub opened #1061 "Why wooridb was removed?"
https://github.com/rust-unofficial/awesome-rust/pull/1037

[2021-04-04 15:06] luciusmagn commented on #1061
I don't think it was ever added, I will go through the PRs in the following days

[2021-04-04 16:27] naomijub commented on #1061
Thanks

[2021-04-16 09:27] Mazwak opened #1068 "GTK link is outdated"
The new link for gtk-rs  is https://github.com/gtk-rs/gtk-rs

[2021-04-27 08:22] mfsch opened #1075 "Package 'awesome-rust' on crates.io"
I was just browsing crates.io and came across [awesome-rust](https://crates.io/crates/awesome-rust), which seems like it should be related to this project but apparently is not. The repo and homepage links point to [this project](https://github.com/magiclen/markdown2html-converter), but I could not find anything related to awesome-rust in that repo. I did come across [this repo](https://github.com

[2021-04-28 02:19] wujunze commented on #1075
?

[2021-04-28 05:46] philip-peterson opened #1076 "Some UI/Frontend Libraries"
The following may make a valuable addition to the UI/frontend frameworks and tools lists:

* [Percy](https://github.com/chinedufn/percy) -- 1600 stars
* [Trunk](https://github.com/thedodd/trunk) -- 446 stars
* [Maple](https://github.com/lukechu10/maple) -- 155 stars

[2021-04-30 16:39] pytogata commented on #1076
Горячий
--
Отправлено из Mail.ru для Android среда, 28 апреля 2021г., 08:46 +03:00 от Philip Peterson  ***@***.*** :

[2021-05-24 00:29] JoelMon opened #1087 "ytop no longer maintained"
The System Tools > [ytop](https://github.com/cjbassi/ytop) project is no longer maintained. They refference another similar project, [bottom](https://github.com/ClementTsang/bottom).

[2021-06-18 18:52] palfrey opened #1102 "Fix auto-approval"
https://github.com/mheap/automatic-approve-action should in theory auto-approve builds from new maintainers that don't change the workflow. However, there's an issue with the Github API and some repos (including this one). https://github.com/mheap/automatic-approve-action/issues/9 describes the issue, and @cschleiden is apparently looking into the issue.

[2021-06-21 16:57] palfrey commented on #1102
This appears now sorted as per https://github.com/mheap/automatic-approve-action/issues/9#issuecomment-865174292

[2021-06-21 16:57] #1102 closed

[2021-07-30 18:15] palfrey commented on #1068
Should be fixed once we merge https://github.com/rust-unofficial/awesome-rust/pull/1048

[2021-07-30 21:01] palfrey commented on #1087
Could you submit a PR please removing ytop and adding bottom?

[2021-07-30 21:33] JoelMon commented on #1087
Will do!

[2021-08-02 11:50] LahyanDjeh commented on #309
Edit on my git project profile

[2021-08-05 20:48] palfrey commented on #1054
Can you submit a PR for this please?

[2021-08-05 20:49] palfrey commented on #1042
Can you submit a PR for this please?

[2021-08-05 20:50] palfrey commented on #1003
Can you submit a PR for this please?

[2021-08-05 20:51] palfrey commented on #1013
PR now closed

[2021-08-05 20:51] #1013 closed

[2021-08-05 22:21] williamdes commented on #1042
Yup, done as #1132

[2021-08-07 20:33] naomijub commented on #1003
https://github.com/rust-unofficial/awesome-rust/pull/1134

[2021-08-08 09:20] palfrey commented on #1003
https://github.com/rust-unofficial/awesome-rust/pull/1134 now merged

[2021-08-08 09:20] #1003 closed

[2021-08-08 12:37] palfrey commented on #1061
https://github.com/rust-unofficial/awesome-rust/pull/1037 now merged

[2021-08-08 12:37] #1061 closed

[2021-08-08 13:06] palfrey commented on #783
Closing for the moment as no response to previous query. Feel free to submit the PR later on though!

[2021-08-08 13:06] #783 closed

[2021-08-08 13:06] palfrey commented on #899
Closing for the moment as no response to previous query. Feel free to submit the PR later on though!

[2021-08-08 13:06] #899 closed

[2021-08-08 13:07] palfrey commented on #988
The build has been fixed for a while now. Is there a PR for this?

[2021-08-08 13:10] palfrey commented on #1076
Can you submit a PR for these please?

[2021-08-08 13:14] #1042 closed

[2021-08-08 13:33] williamdes opened #1136 "Zabbix sender, BME680 and bme680-zabbix_sender"
I just created my first Rust program and released it: https://github.com/williamdes/bme680-zabbix_sender

It uses two awesome crates:
- [zbx-sender-rs](https://github.com/ava57r/zbx-sender-rs) (a Zabbix sender program like the CLI binary found on Debian/Ubuntu https://linux.die.net/man/1/zabbix_sender)
- [bme680](https://github.com/marcelbuesing/bme680) (see [Bosch](https://www.bosch-sensortec.com

[2021-08-09 07:46] kydos commented on #988
I'll make one right off. Thanks!

[2021-08-09 07:46] #988 closed

[2021-08-16 19:37] palfrey commented on #1136
We've recently made a change to the rules regarding additions of new projects, and in order to attempt to be as fair as we can with the process we're now using external popularity metrics to guide this. Our current standards are a minimum of 50 stars on Github, 2000 downloads for projects with published crates or equivalent values in other areas (e.g. downloads in other places, star-type popularit

[2021-08-16 19:47] williamdes commented on #1136
Thanks for the feedback, I may do a PR but any newbie to the project can make this before me
Maybe you can tag this one as newbie or good first issue depending on what you have available

[2021-08-16 20:18] #1068 closed

[2021-08-17 09:07] palfrey commented on #595
We've recently made a change to the rules regarding additions of new projects, and in order to attempt to be as fair as we can with the process we're now using external popularity metrics to guide this. Our current standards are a minimum of 50 stars on Github, 2000 downloads for projects with published crates or equivalent values in other areas (e.g. downloads in other places, star-type popularit

[2021-08-17 09:07] #595 closed

[2021-08-17 09:08] palfrey commented on #606
The guide now appears to be archived, so I'm assuming it's not being updated anymore and so I'm going to close this issue.

[2021-08-17 09:08] #606 closed

[2021-08-29 17:27] #1087 closed

[2021-08-29 17:32] palfrey commented on #931
Fixed in #976

[2021-08-29 17:32] #931 closed

[2021-09-09 12:32] SSebigo opened #1158 "Suggestion: Add a "Last updated" date next to the project name"
It would be quite useful to have the last updated date of each project listed next to their name. Maybe with Github Actions.

[2021-09-10 08:05] palfrey commented on #1158
This would be hard to do. Firstly, because we're already hitting rate limits on the github api given the list of projects to check. Secondly, most of the projects are on Github, but not all, so updating the non-Github projects would be a bunch of effort. Thirdly, it's not always a useful metric. Some projects haven't been updated for months because they're effectively complete, which isn't a bad t

[2021-09-10 08:10] #1158 closed

[2021-09-19 10:03] namkyu1999 opened #1162 "Add rust-gomoku to Games"
Can rust-gomoku be added to the list of Games libraries?

Crate: https://crates.io/crates/rust-gomoku
Github: https://github.com/namkyu1999/rust-gomoku

thank you!

[2021-09-19 10:07] palfrey commented on #1162
We've recently made a change to the rules regarding additions of new projects, and in order to attempt to be as fair as we can with the process we're now using external popularity metrics to guide this. Our current standards are a minimum of 50 stars on Github, 2000 downloads for projects with published crates or equivalent values in other areas (e.g. downloads in other places, star-type popularit

[2021-09-19 10:07] #1162 closed

[2021-10-10 09:20] palfrey commented on #869
For the moment they should still go under the FFI / Web Assembly section. If that bit gets large enough, then we can split it out.

[2021-10-10 22:53] yuribudilov opened #1173 "Ballista is now Apache Arrow Datafusion"
https://github.com/apache/arrow-datafusion

Ballista has moved to Apache Arrow DataFusion, just FYI, may be worth updating the entry.

thanks

[2021-10-11 07:45] palfrey commented on #1173
Would you mind submitting a PR that does this please?

[2021-10-16 21:28] palfrey commented on #1173
Fixed in 4c61c24

[2021-10-16 21:28] #1173 closed

[2021-12-31 12:51] #1054 closed

[2022-02-06 12:49] Ashutosh94g opened #1232 "syntax error in main file"
On lines 82 and 83 it should request_error but it is reqwest_error

[2022-02-07 14:42] palfrey commented on #1232
reqwest is the correct spelling here, as it refers to the [reqwest library](https://crates.io/crates/reqwest)

[2022-03-26 20:40] HarleyQuinn-Z6 opened #1250 "Libreddit"
https://github.com/spikecodes/libreddit

[2022-03-26 20:40] HarleyQuinn-Z6 commented on #1250
https://github.com/spikecodes/libreddit

[2022-03-26 20:44] palfrey commented on #1250
This is a suitable candidate for adding to this repo. Please open a PR to get it added.

[2022-04-16 00:06] HicaroD opened #1261 "INIp - An INI parser library written in Rust"
https://github.com/HicaroD/INIp

[2022-04-16 00:08] #1261 closed

[2022-04-16 09:54] palfrey commented on #576
Closing this issue as there hasn't been a PR made for it, and it's pretty old!

[2022-04-16 09:54] #576 closed

[2022-04-16 09:55] palfrey commented on #824
Closing this issue as there hasn't been a PR made for it, and it's pretty old!

[2022-04-16 09:55] #824 closed

[2022-04-16 09:56] palfrey commented on #869
Closing, as the original issue got resolved by flagging a section

[2022-04-16 09:56] #869 closed

[2022-04-16 09:57] palfrey commented on #923
Actually, best place for this is as another link in the "Games" section next to the "Games Made With Piston" one

[2022-04-16 10:00] palfrey commented on #981
Updating on this one, as I came back and fixed some things:
* Quality is now mostly solved (for some values of) with https://github.com/rust-unofficial/awesome-rust/pull/1141 that implemented popularity filtering
* List ordering is fixed with https://github.com/rust-unofficial/awesome-rust/pull/1121. Format is still a bit of a mess though.
* Time spent on PRs is way down. Mostly I just go "does it

[2022-04-16 10:01] palfrey commented on #1076
Closing as there's no PR been made, and this is quite old

[2022-04-16 10:01] #1076 closed

[2022-04-16 10:01] palfrey commented on #1136
Closing as there's no PR been made, and this is quite old

[2022-04-16 10:01] #1136 closed

[2022-04-16 10:01] palfrey commented on #1250
Closing as there's no PR been made

[2022-04-16 10:01] #1250 closed

[2022-04-16 10:04] palfrey commented on #1075
Hi @wujunze. Can you explain why the crate exists? Ideally, it should be removed as it confuses folks. If you could transfer ownership to myself, I could put out a new release that basically just updates the README to point to here instead?

[2022-04-16 10:06] palfrey commented on #1075
https://github.com/awesome-rust-com is similarly confusing. I'm not quite sure what the point of that org is. Could you help me understand that @wujunze?

[2022-04-18 09:43] de-sh opened #1267 "Add `rumqtt`"
Hey there folks, I'd like to add [`rumqtt`](https://github.com/bytebeamio/rumqtt), a library for writing applications that use the [MQTT](https://mqtt.org/) protocol to communicate.

[2022-04-18 11:23] palfrey commented on #1267
Please submit a PR adding it to the list!

[2022-04-18 17:59] de-sh commented on #1267
I'd also like for [mquictt/mquictt](https://github.com/mquictt/mquictt) to be added to this PR, but it is experimental and **VERY VERY ALPHA** to say the least 😅

[2022-04-18 19:33] #1267 closed

[2022-05-31 17:45] wiz21b opened #1290 "Apple 2 emulator"
Still in development though...

https://gitlab.com/wiz21/accurapple

[2022-05-31 18:13] #1290 closed

[2022-07-31 19:37] palfrey opened #1328 "Replace node toc lint with a Rust one"
Steps:
1. Fix https://github.com/pbzweihander/markdown-toc/issues/2 and possibly other things there so it can replace ToC blocks in markdown
2. Replace [lint-markdown-toc](https://github.com/rust-unofficial/awesome-rust/blob/main/.github/workflows/lint.yml#L32) with the Rust markdown-toc

[2022-08-22 02:55] AhmedIbrahim336 commented on #1328
@palfrey  checked the code base the `--inline` and `replace` options are disabled on purpose

[2022-08-22 03:57] AhmedIbrahim336 commented on #1328
I added the support to `--inline` and `--replace` in this https://github.com/pbzweihander/markdown-toc/pull/11 according to the [specification](https://github.com/pbzweihander/markdown-toc/wiki/Specification)

[2022-08-22 05:48] AhmedIbrahim336 commented on #1328
The fix got merged!

[2022-09-03 10:53] palfrey commented on #1328
There still appears to be various issues with it that make it currently unusable for this repo:

* If I run repeatedly with `--replace` it seems to make multiple ToCs clashing with each other
* There isn't any way to say "we want this block of text before the ToC" and/or "insert the ToC _here_" e.g. like the ``/ `` markers of the Node equivalent.

[2022-09-16 23:24] MoAlyousef opened #1350 "Link to Soloud Rust project removed"
Hello

The previously added soloud project in PR https://github.com/rust-unofficial/awesome-rust/pull/946 seems to have disappeared for some reason.

[2022-09-17 16:05] palfrey commented on #1350
Yes. It got removed during https://github.com/rust-unofficial/awesome-rust/pull/1141 when popularity filtering ("you need at least 50 stars or 2000 downloads") got implemented. It now appears to have enough downloads, so a PR re-adding it would be accepted.

[2022-09-17 16:05] #1350 closed

[2022-10-19 01:12] IwateKyle opened #1360 "Helix editor and Kakoune found in different categories"
Shouldn't Helix and Kakoune be in the same category.  Either IDEs where Kakoune is currently found.  Or, in Text Editors where Helix is currently located.  Being that Helix is a Rust implementation of the nearly same feature set of Kakoune, it seems they should be located together.

[2022-10-19 09:43] palfrey commented on #1360
It's a little confused, given _Vim_ is under IDEs. I'm not sure of the right answer TBH!

[2022-10-25 12:54] pythops opened #1364 "Add envy crate"
https://github.com/softprops/envy